config EXYNOS_DEVICE_MIPI_CSIS_VER4
	bool "Use Sensor driver (Sensor Group)"
	depends on USE_SENSOR_GROUP
	depends on VIDEO_EXYNOS_PABLO_ISP
	default n
	help
	  Enable Device MIPI-CSIS S/W Version 4(Including WDMA and Sensor Group)
choice
	prompt "Select CSIS Version"
	depends on EXYNOS_DEVICE_MIPI_CSIS_VER4
	help
	  Select CSIS Version.

	source "drivers/media/platform/exynos/camera/sensor/csi2/Kconfig"

endchoice

config EXYNOS_DEVICE_CAMERA_MODULE
	bool "Use Camera modules"
	depends on VIDEO_EXYNOS_PABLO_ISP
	default y
	help
	  Select camera module.

source "drivers/media/platform/exynos/camera/sensor/module_framework/Kconfig"
