[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/tiann/KernelSU
[submodule "toolchain/clang_r416183b"]
	path = toolchain/clang_r416183b
	url = https://github.com/LineageOS/android_prebuilts_clang_kernel_linux-x86_clang-r416183b
[submodule "toolchain/gcc_4.9"]
	path = toolchain/gcc_4.9
	url = https://github.com/LineageOS/android_prebuilts_gcc_linux-x86_aarch64_aarch64-linux-android-4.9
