config EXYNOS_PABLO_ISP
	bool "Use Chain driver"
	depends on VIDEO_EXYNOS_PABLO_ISP
	default y
	help
	  This config abstracts driver source folder.

choice
	prompt "Select Pablo HW Version"
	depends on EXYNOS_PABLO_ISP
	help
	  Select Pablo ISP Version.

source "drivers/media/platform/exynos/camera/ischain/is-v7_0_0/Kconfig"
if SOC_EXYNOS9830_EVT0
source "drivers/media/platform/exynos/camera/ischain/is-v8_0_0/Kconfig"
endif
if SOC_EXYNOS9830
source "drivers/media/platform/exynos/camera/ischain/is-v8_1_0/Kconfig"
endif
source "drivers/media/platform/exynos/camera/ischain/is-v8_10_0/Kconfig"
source "drivers/media/platform/exynos/camera/ischain/is-v8_20_0/Kconfig"

endchoice
