# ExtremeKernel config file
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config

CONFIG_LOCALVERSION="-ExtremeKernel-v4.5"
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_F2FS_REPORT_FAKE_KERNEL_VERSION=y
CONFIG_F2FS_FAKE_KERNEL_RELEASE="4.19.87-ExtremeKernel-v4.5"
CONFIG_F2FS_FAKE_KERNEL_VERSION="#1 SMP PREEMPT Thu Apr 25 21:44:08 EEST 2024"
CONFIG_ANDROID_BINDERFS=y
CONFIG_BLK_CGROUP=y
CONFIG_BPF_JIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_CMDLINE="cgroup_disable=pressure"
CONFIG_CMDLINE_EXTEND=y
CONFIG_CC_WERROR=y
# CONFIG_SLUB_DEBUG is not set
CONFIG_SENSORS_FPRINT_SECURE=y
# CONFIG_ARM64_SSBD is not set
# CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY is not set
# CONFIG_UH is not set
# CONFIG_FASTUH_RKP is not set
# CONFIG_UH_RKP_FIMC_CHECK is not set
# CONFIG_KDP_CRED is not set
# CONFIG_KDP_NS is not set
# CONFIG_KDP_DMAP is not set
# CONFIG_UH_LKM_BLOCK is not set
# CONFIG_UH_PDBT is not set
# CONFIG_RKP_CFP_JOPP is not set
CONFIG_BOEFFLA_WL_BLOCKER=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
# CONFIG_KPROBES is not set
CONFIG_CFQ_GROUP_IOSCHED=y
CONFIG_IOSCHED_BFQ=y
CONFIG_WIREGUARD=y
CONFIG_LARGE_TCP_INITIAL_BUFFER=y
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_TCP_CONG_HTCP=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
CONFIG_DM_SNAPSHOT=y
CONFIG_DUMMY=y
# CONFIG_GATOR is not set
# CONFIG_KSU is not set
# CONFIG_KSU_DEBUG is not set
# CONFIG_F2FS_SEC_BLOCK_OPERATIONS_DEBUG is not set
CONFIG_INCREMENTAL_FS=y
CONFIG_EROFS_FS=y
CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE=y
# CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE is not set
CONFIG_CRYPTO_LZ4=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_BLK_DEV_THROTTLING=y
CONFIG_BLK_DEV_THROTTLING_LOW=y
# CONFIG_SEC_DEBUG_FREQ is not set
CONFIG_IP_NF_TARGET_TTL=y
CONFIG_DISABLE_TRACE_PRINTK=y
