# ExtremeKernel config file for enabling KSU
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config

# Set custom kernel version
CONFIG_LOCALVERSION="-ExtremeKRNL-v4.7"
CONFIG_F2FS_FAKE_KERNEL_RELEASE="4.19.87-ExtremeKRNL-v4.7"

# Enable KSU
CONFIG_KSU=y
# CONFIG_KSU_DEBUG is not set
CONFIG_KSU_ALLOWLIST_WORKAROUND=y

# KSU SusFS
# CONFIG_KSU_SUSFS is not set

# EOF
