# ExtremeKernel config file for enabling KSU
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config

# Set custom kernel version
CONFIG_LOCALVERSION="-ExtremeKernel-v4.5-KSU"
CONFIG_F2FS_FAKE_KERNEL_RELEASE="4.19.87-ExtremeKernel-v4.5-KSU"

# Enable KSU
CONFIG_KSU=y
# CONFIG_KSU_DEBUG is not set

# EOF
