CONFIG_LOCALVERSION="-ExtremeKernel-v4.5-TWRP"
# CONFIG_F2FS_REPORT_FAKE_KERNEL_VERSION is not set
# CONFIG_AUDIT is not set
# CONFIG_INCREMENTAL_FS is not set
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE=y
# CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC is not set
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC_VALUE=0
# CONFIG_BOOTPARAM_HARDLOCKUP_PANIC is not set
CONFIG_BOOTPARAM_HARDLOCKUP_PANIC_VALUE=0
# CONFIG_BOOTPARAM_HUNG_TASK_PANIC is not set
CONFIG_BOOTPARAM_HUNG_TASK_PANIC_VALUE=0
# CONFIG_BOEFFLA_WL_BLOCKER is not set
# CONFIG_LARGE_TCP_INITIAL_BUFFER is not set
# CONFIG_WIREGUARD is not set
# CONFIG_SDP is not set
# CONFIG_FSCRYPT_SDP is not set
# CONFIG_DDAR is not set
