# ExtremeKernel config file for building recovery kernel
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config

# Set custom kernel version
CONFIG_LOCALVERSION="-ExtremeKernel-v4.5-TWRP"
# CONFIG_F2FS_REPORT_FAKE_KERNEL_VERSION is not set

# Set SELinux to permissive mode and disable auditing
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE=y
# CONFIG_AUDIT is not set

# Disable kernel panic on uninitialized TEE
# CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC is not set
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC_VALUE=0
# CONFIG_BOOTPARAM_HARDLOCKUP_PANIC is not set
CONFIG_BOOTPARAM_HARDLOCKUP_PANIC_VALUE=0
# CONFIG_BOOTPARAM_HUNG_TASK_PANIC is not set
CONFIG_BOOTPARAM_HUNG_TASK_PANIC_VALUE=0

# Disable extraneous mods
# CONFIG_INCREMENTAL_FS is not set
# CONFIG_BOEFFLA_WL_BLOCKER is not set
# CONFIG_WIREGUARD is not set
# CONFIG_IP_NF_TARGET_TTL is not set

# Disable unnecessary Samsung security
# CONFIG_MST_LDO is not set
# CONFIG_MST_V2 is not set
# CONFIG_MST_TEEGRIS is not set
# CONFIG_MST_LPM_CONTROL is not set
# CONFIG_HDM is not set
# CONFIG_SDP is not set
# CONFIG_FSCRYPT_SDP is not set
# CONFIG_DDAR is not set
# CONFIG_EXYRNG_FIPS_COMPLIANCE is not set
# CONFIG_CRYPTO_FIPS is not set
# CONFIG_EXYNOS_FMP_FIPS is not set

# Enable extra debugging
CONFIG_SLUB_DEBUG=y
CONFIG_F2FS_SEC_BLOCK_OPERATIONS_DEBUG=y
CONFIG_UFS_DATA_LOG=y
CONFIG_UFS_DATA_LOG_MAGIC_CODE=y

# Disable other useless features for recovery to save space
# CONFIG_ANDROID_BINDERFS is not set
# CONFIG_BPF_JIT is not set
# CONFIG_BPF_JIT_ALWAYS_ON is not set
# CONFIG_DM_SNAPSHOT is not set
# CONFIG_DUMMY is not set
# CONFIG_CPU_FREQ_GOV_POWERSAVE is not set
# CONFIG_CPU_FREQ_GOV_USERSPACE is not set
# CONFIG_CPU_FREQ_GOV_ONDEMAND is not set
# CONFIG_CPU_FREQ_GOV_CONSERVATIVE is not set
# CONFIG_TCP_CONG_WESTWOOD is not set
# CONFIG_TCP_CONG_HTCP is not set
# CONFIG_IOSCHED_BFQ is not set
# CONFIG_CRYPTO_LZ4 is not set
# CONFIG_CRYPTO_ZSTD is not set
# CONFIG_INITIAL_TCP_BUFFER is not set
# CONFIG_PROC_SPOOF_CMDLINE is not set

# Optimize for size instead of performance
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set

# EOF
