config PABLO_V8_0_0
	bool "Use PABLO v8.0.0"
	depends on SOC_EXYNOS9830_EVT0
	select EXYNOS_DEVICE_MIPI_CSIS_VER4
	select CSIS_V5_3
	select CAMERA_CIS_SELECT
	select CAMERA_ACT_SELECT
	select CAMERA_FLASH_SELECT
	select CAMERA_PDP
	select MC_SCALER_V8_0
	select PDP_V1_0_0
	help
	  PABLO ISP version 8.0.0
