config VIDEO_EXYNOS_PABLO_ISP
	bool "Exynos Pablo Camera Driver"
	depends on VIDEO_EXYNOS
	select MEDIA_EXYNOS
	select VIDEO_EXYNOS_FIMC_IS2
	select EXYNOS_PABLO_ISP
	select VIDEOBUF2_DMA_SG
	default n
	help
	  This is a v4l2 driver for exynos FIMC-IS device.

# Chain driver
source "drivers/media/platform/exynos/camera/ischain/Kconfig"
source "drivers/media/platform/exynos/camera/hardware/Kconfig"
source "drivers/media/platform/exynos/camera/vendor/Kconfig"

# Sensor driver
source "drivers/media/platform/exynos/camera/sensor/Kconfig"
