config VISION_CORE
        bool "Vision Core"
        help
	  Vision core module enablement

          Vision core module handles all vision related
          modules.
	  Enabling this module enables NPU, and related
	  support code.


menuconfig VISION_UNITTEST
        bool "Build unittest for Vision"
        depends on VISION_CORE
        help
	  Include unittest code into the vision-core
